body {
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  color: #333;
}

.header-link{
  font-size: 20px;
  font-weight: bold;
  color:black;
  margin:20px;
}
.navbar{
  background-color: #eee;
}

.fa-circle-play{
  margin-right: 5px;
}

.container {
  text-align: center;
  margin: 20px auto 30px auto;
}

.explain{
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.tuning-steps{
  margin: 20px auto 10px auto;
}

.controls {
  margin-bottom: 20px;
}

#base-play{
  padding: 5px 10px;
  border: solid 1px;
  border-radius: 5px;
}

#base-play:hover{
  background-color: #ddd;
}

.sliders {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.slider-container {
  text-align: center;
}
.slider {
  transform: rotate(-90deg);
  width: 150px;
  margin-top:100px;
  margin-bottom:100px;
}
.save-controls {
  margin-top: 20px;
}

#play-unison{
  margin-top: 20px;
  padding: 5px 10px;
  border: solid 1px;
  border-radius: 5px;
}

#play-unison:hover{
  background-color: #ddd;
}

#save-button{
  padding: 5px 10px;
  border: solid 1px;
  border-radius: 5px;
  background-color: #ccc;
}

.footer-bottom{
  background-color: #ccc;
}

.copyright{
  padding:30px;
}
